html, body, #root {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.canvas-3d {
  margin-top: 7px;
  border: 1px solid black;
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
}